@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.anuncios-container {
  background-color: #eaeaea;
  padding: 40px 20px;
  text-align: center;
}

.anuncios-container h2 {
  font-size: 24px;
  margin-bottom: 32px;
  color: #111;
}

.anuncios-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.bloco-branco {
  background: rgb(73, 37, 37);
  border-radius: 12px;
  padding: 20px;
}

/* cards */
.card {
  width: 260px;
  height: 580px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}

.card .imagem {
  background: linear-gradient(to bottom, #d00000, #1e1e1e);
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 60% 30%;
  border-bottom-right-radius: 60% 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* colocar as imgs aq */
.img-cinto {
  background-image: url('/imagens/cinto.png');
}

.img-corda {
  background-image: url('/imagens/corda.png');
}

.img-mosquetao {
  background-image: url('/imagens/mosquetao.png');
}

.card h3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 10px 0 5px;
  text-align: center;
  font-weight: bold;
}

.card .preco {
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 0 0 10px;
}

.card .btn-detalhes {
  background-color: #a50000;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 12px 0;
  width: 80%;
  margin: 0 auto 15px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  transition: background 0.2s;
}

.card .btn-detalhes:hover {
  background: #d32f2f;
}

.card .btn-inativo {
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto 15px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  transition: background 0.2s;
}

.card .btn-inativo:hover {
  background: #495057;
}

.card .btn-excluir {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  transition: background 0.2s;
}

.card .btn-excluir:hover {
  background: #c82333;
}

.btn-inativo {
  background-color: #6c757d !important;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 40px;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  transition: background 0.2s;
}

.btn-inativo:hover {
  background: #495057 !important;
}
