.cadastro-container {
  background: #ececec;
  border-radius: 24px;
  margin: 28px;
  padding: 24px 0 40px 0;
}

.cadastro-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 16px;
  font-family: Arial, sans-serif;
}

.cadastro-content {
  display: flex;
  justify-content: center;
  gap: 48px;
  align-items: flex-start;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 380px;
}

.cadastro-form label {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.cadastro-form input {
  margin-top: 8px;
  padding: 12px;
  border: 1px solid #888;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  background: #fff;
}

.cadastro-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  
}

.cadastro-side > #bombeiro-img {
  width: 200px;
  height: auto;
  align-self: flex-start;
  margin-bottom: -20px;
}

.cadastro-termos {
  background: #b22222;
  color: #fff;
  border-radius: 14px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 100px;
  width: 400px;
  margin-top: 30px;
}

.termo-row {
  display: flex;
  margin-top: -10px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

/* Switch style */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -8px; left: 0; right: 0; bottom: 0;
  background-color: #6d1818;
  border-radius: 28px;
  transition: .4s;
  width: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px; width: 20px;
  left: 4px; bottom: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #6d1818;
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}

/* Bombeiro image */
#bombeiro-img {
  width: 200px;
  margin: 12px 0 0 0;
  display: block;
}

/* Cadastrar button */
.cadastro-btn {
  width: 170%;
  height: 60px;
  background: #b22222;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 14px;
  padding: 14px 0;
  cursor: pointer;
  margin-top: 0px;
  transition: background 0.2s;
  box-shadow: none;
}

.cadastro-btn:hover {
  background: #a11d1d;
}

.img-and-button {
  margin-top: 70px;
  margin-left: -90px;
}

/* Adicione ao seu header.css */
.user-cart {
  display: flex;
  align-items: center;
  gap: 8px;
}